<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Solution Bag</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <script src="/home/saloni/forum/QAforum/static/js/sweet-alert.min.js"></script>
  <script src="/home/saloni/forum/QAforum/static/js/sweet-alert.js"></script>
  <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/js/sweet-alert.css">
  
      <script src="/home/saloni/forum/QAforum/static/js/a.js"></script>
      <script src="styleswitch.js" type="text/javascript"></script>
      <script src="/home/saloni/forum/QAforum/static/js/main.js" type="text/javascript"></script>
      <script src="/home/saloni/forum/QAforum/static/js/modernizr.js" type="text/javascript"></script>
  
  <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/style21.css"> 
     <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/style1.css"> 
</head>

    <body>
  
    
         <div class="header">
            <div class="header_resize">
               <div class="logo">
                  <h1><a href="index.html"><i><span>Solution</span> Bag <small></i>Every Question has a Jhakkas Answer!!</small></a></h1>
               </div>
               <div class="menu_nav">
                  <ul>
                      <li><a href="/forum/logout">Logout</a></li>
                     
                        <li><a href="/forum/profile/">Profile</a></li>
                       
                      
                     
                     <li><a href="/forum/recent/">Recent Activity</a></li>
                      <div class="main-nav">
                      <li><a class="cd-signin" href="#0">Post Your Question</a></li>
                      </div>
         
                    
                    <li><a href="/forum/About">About Us</a></li>
                   <li><a href="/forum/home/" class="active">Home</a></li>
                   
                  </ul>
               </div>
               <div class="clr"></div>
            </div>
         </div>





  <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
      

      <div id="cd-login"> <!-- log in form -->
        <form class="cd-form" method="get" action="/forum/question">
          <p class="fieldset">
            
            <input class="full-width has-padding has-border" id="signin-email" type="text" name="postt" required placeholder="Your Question">
            <span class="cd-error-message">Error message here!</span>
          </p>

          

          <p class="fieldset">
            <input class="full-width"  type="submit" value="Go">
          </p>
        </form>
        
        
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-login -->

      

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
       <!-- cd-signup -->

      

        

        
      <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
  </div>
      
          
          {% for i in  ques %}
       &nbsp;   &nbsp;          
             <div class= "side" style="float:left">
                 &nbsp;   &nbsp;   &nbsp;  <img src= "/forum{{i.picture.url|default_if_none:'/media/default_user.jpg'}}" width="30" height="30"/>
              {% endfor %}
              </div>
              <h1>{{q.title}}</h1>&nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;   &nbspPosted By : {{q.user_id.username}}
              
         <div class="content">
          
            <div class="content_resize">

               <div class="mainbar">{% for i,j,k in m %}
                  <div class="article">
               <div class= "side" style="float:left">
               

                <img src= "/forum{{i.picture.url|default_if_none:'/media/default_user.jpg'}}" width="40" height="40"/><br/></br>
              
               </div> 

            
            {% if j.answer_text %}
             <subscript>&nbspPosted By :{{j.user_id.username}}</subscript><br><br> <b>{{j.answer_text}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <!--{% ifequal k 1 %}
           <a href="/forum/delete/{{j.id}}">Delete</a>
           {% endifequal %}-->
            {% endif %}
          
        
        {% if answered %}
        <script>
       swal( { title :'<p style="color:black"> Your Answer has been posted successfully !</p>', html : true, timer: 1000, });
        </script>
        {% endif %}
         </div>
        {% endfor %}

  



               </div>
               
               </div>
               <div class="clr"></div>
            </div>
         </div><br><br>
          <form id="ans" method="get" action="/forum/answer/{{q.id}}" required >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;
            <textarea class="ta" name="answer" required placeholder= " Your Answer....." rows=5 cols=92></textarea>

            <center><br><br><input name="ans" type="submit" value="Submit"/></center>
        </form>
         </div>

         

 

   </body>
</html>

