<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
-
<head>
<title>nonzero1.0</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />


  <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/style1.css"> 
    <script src="/home/saloni/forum/QAforum/static/js/sweet-alert.min.js"></script>
        <script src="/home/saloni/forum/QAforum/static/js/sweet-alert.js"></script>
        <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/js/sweet-alert.css">
   
  


<script src="/home/saloni/forum/QAforum/static/js/a.js"></script>
<script src="styleswitch.js" type="text/javascript"></script>

<script src ="/home/saloni/forum/QAforum/static/js/main.js"> </script>
<script src ="/home/saloni/forum/QAforum/static/js/modernizr.js"> </script>

<style>
@font-face { font-family : "AlexBrush"; src: url("{{STATIC_URL}}fonts/AlexBrush-Regular.ttf"); }
#header
{
width:100%;
height:122px;
background: #440000 url('/home/saloni/forum/QAforum/static/images/mm.jpg') repeat-x;
}
.fl { font-family: AlexBrush;font-size: 52px; }
h1 { color : blue; }
</style>
</head>
<body>
 {% ifequal posted "ok" %}
    <script> swal( { title :'<p style="color:black"> Your Question has been posted successfully !</p>', imageUrl: '/home/saloni/forum/QAforum/static/images/thumbs-up.jpg', html : true, timer: 1000, });</script>
  {% endifequal %}
  <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
      

      <div id="cd-login"> <!-- log in form -->
        <form class="cd-form" required method="get" action="/forum/question">
          <p class="fieldset">
            
            <input class="full-width has-padding has-border" id="signin-email" type="text" required name="postt" placeholder="Your Question">
            <span class="cd-error-message">Error message here!</span>
          </p>

          

          <p class="fieldset">
            <input class="full-width"  type="submit" value="Go">
          </p>
        </form>
        
        
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-login -->

      

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
       <!-- cd-signup -->

      

        

        
      <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<div id="header">
  <div id="header_inner" class="fixed">
    <div id="logo">
      <h1><span class='fl' style="font-family: AlexBrush;font-size: 52px; "> S</span>olution<span style="font-size: 52px; font-family: AlexBrush">B</span>ag<1.0</h1>
      <h2>By Salanshita</h2>
    </div>
    <div id="menu">
      <ul>
        <li><a href="home.html" class="active">Home</a></li>
        <li><form method ="get" action= "/forum/search/">
                <p> <input type="text" placeholder="search here" name= "key" ></p>
                <p> <input name="search" type="submit" value= "Search"></p>
                </form></li>
        <li><a href="/forum/about">About Us</a></li>
        <div class="main-nav">
        <li><a class="cd-signin" href="#0">Post Your Question</a></li>
         </div>
        <li><a href="/forum/profile/">Profile</a></li>
        <li><a href="/forum/recent/">Recent Activity</a></li>
        <li><a href="/forum/logout">Logout</a></li>
       
      </ul>
    </div>
  </div>
</div>
<div id="main">
  <div id="main_inner" class="fixed">
    <div id="primaryContent_3columns">
      <div id="columnA_3columns">
        <h3>Welcome to this amazing Forum!! </h3>
        <br><br>
      
     
        {% for i,j,l,k,u in final %}

            {% if j.picture %}
                <p><img src= "/forum{{j.picture.url|default_if_none:'/media/default_user.jpg'}}" width=30 height=30/> 
            {% endif %}  
            Posted by {{i.user_id.username}} on {{i.date_created}}<br/>
            <a href="/forum/ansform/{{i.id}}">{{i}}</a></br></br>
            {% if l.answer_text %}
            {% if u.picture %}
            
            &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;<img src= "/forum{{u.picture.url|default_if_none:'/media/default_user.jpg'}}" width=30 height=30/>
            {% endif %} 
                    Answered by:{{l.user_id.username}}  &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;{{l|safe|truncatechars:"40"|linebreaks }}
             {% elif not l.answer_text %}
             <p> Be the First one to answer </p>
             {% endif %}
            {% ifequal k 1 %}
            <a href="/forum/ansform/{{i.id}}">View More Answers</a></br></br>
            {% endifequal %}
        {% endfor %}
           
           <br>  
           
           </div>
               </div>
               <div class="sidebar">
                 
                     <form id="formsearch"   method ="get" action= "/forum/search/">
                        <input name="button_search" src="/home/divya/Q-Aforum/QAforum/static/images/search_btn.gif" class="button_search" type="image" />
                        <span>
                        <input name="key" class="key" id="key" maxlength="80" placeholder="Search" type="text" name= "key" />
                        </span>
                     </form>
                 
                 
                  </div>
                  
               </div>
               <div class="clr"></div>
            </div>
         </div>
         
         </div>
         

           
           
           
           <!-- Next/Prev page links  -->
        {% if final.object_list and final.paginator.num_pages > 1 %}
        
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
               <center> {% if final.has_previous %}
                    <a href= "?page={{ final.previous_page_number }}">Previous &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ final.number }} of {{ final.paginator.num_pages }}
                </span>

                {% if final.has_next %}
                    <a href="?page={{ final.next_page_number }}"> &gt;&gt; Next</a>
                {% endif %}
            </center>
            </span>
        </div>
        {% endif %}  
<div id="footer" class="fixed"> Copyright &copy; 2015  All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a>. </div>
</body>
</html>
