<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Login</title>
    </head>

    <body>
        <h1>Login </h1>

        <form id="login_form" method="post" action="/forum/login/">
            {% csrf_token %}
            {{login_form.as_p}}

            <input type="submit" value="submit" />
           
           <a href="/forum/reset_password/" >Forgot password ?</a>
        </form>

    </body>
</html>
