<html>
	<head>
		<title>Login</title>
		<style>
			#login { width : 20%; height :50%; border : solid;}
			.reg-submit{
				font-weight: bold;
				font-family: sans-serif;
				border:none;
				height: 50px;
				width: 80%;
				background-color: #1abc9c;
				color:#ffffff;
				border:1px;
				border-radius:10px;
					}
				
		</style>
	</head>
	<body>
		<div id = "login">
			<form name = "login">
				<p><input name="reg_mail" type= "textfield" placeholder = "Your Email Address">
				<p><input name="reg_pwd" type = "password" placeholder= "Password"/>
				<p><input class = "login-submit" name="reg_submit" type = "submit" value="LOGIN"/>
			</form>
		</div>	
		
</html>
