<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Solution Bag</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

      <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/style21.css">
      
      <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/css/style1.css">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <script src="/home/saloni/Qforum/QAforum/static/js/a.js"></script>
      <script src="styleswitch.js" type="text/javascript"></script>
      <script src="/home/saloni/forum/QAforum/static/js/main.js" type="text/javascript"></script>
      <script src="/home/saloni/forum/QAforum/static/js/modernizr.js" type="text/javascript"></script>
<script src="/home/saloni/forum/QAforum/static/js/sweet-alert.min.js"></script>
        <script src="/home/saloni/forum/QAforum/static/js/sweet-alert.js"></script>
        <link rel="stylesheet" href="/home/saloni/forum/QAforum/static/js/sweet-alert.css">

 <body >
    {% ifequal deleted "ok" %}

<script>
swal( { title :'<p style="color:black"> Your Question has been deleted successfully !</p>', html : true, timer : 800  });
</script>
{% endifequal %}
 
           <div class="wrapper">
       <div class="ribbon-wrapper-green"><div class="ribbon-green"></div></div>
</div>
         <div class="header">
            <div class="header_resize">
               <div class="logo">
                  <h1><a href="index.html"><i><span>Solution</span> Bag <small></i>Every Question has a Jhakkas <span>Solution!!</span></small></a></h1>
               </div>
               <div class="menu_nav">
                  <ul>
                      <li><a href="/forum/logout">Logout</a></li>
                     
                        <li><a href="/forum/profile/">Profile</a></li>
                       
                      
                     
                     <li><a href="/forum/recent/">Recent Activity</a></li>
                      <div class="main-nav">
                      <li><a class="cd-signin" href="#0">Post Your Question</a></li>
                      </div>
         
                    
                    <li><a href="/forum/About">About Us</a></li>
                   <li><a href="/forum/home" class="active">Home</a></li>
                   
                  </ul>
               </div>
               <div class="clr"></div>
            </div>
         </div>





  <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
      

      <div id="cd-login"> <!-- log in form -->
        <form class="cd-form" method="get" action="/forum/question">
          <p class="fieldset">
            
            <input class="full-width has-padding has-border" id="signin-email" type="text" name="postt" required placeholder="Your Question">
            <span class="cd-error-message">Error message here!</span>
          </p>

          

          <p class="fieldset">
            <input class="full-width"  type="submit" value="Go">
          </p>
        </form>
        
        
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-login -->

      

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
       <!-- cd-signup -->

      

        

        
      <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
  </div>




         <div class="content">
            <div class="content_resize"> <h2><i> Your Questions </h2></i>
               <div class="mainbar">  {% for j in q %}
                 {% for i in j %}
                  <div class="article">
                      <a href="/forum/ansform/{{i.id}}"><h2>{{i}}</h2></a> Posted On {{i.date_created}} <a href="/forum/delete_ques/{{i.id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete</a><br/> <br/>
        
      
        
        <h3> {{disp}} </h3>
        </div>{% endfor %}
        {% endfor %}
           

  



               </div>
              
                 
                  </div>
                  
               </div>
               <div class="clr"></div>
            </div>
         </div>
         
         </div>
         

 


   </body>
</html>

