<html>
	<head>
		<title>Login or Register</title>
		<style>
			#reg { width : 20%; height :50%; border : solid;}
			#login { visibility : hidden; }
			.contact-submit{
				font-weight: bold;
				font-family: sans-serif;
				border:none;
				height: 50px;
				width: 80%;
				background-color: #1abc9c;
				color:#ffffff;
				border:1px;
				border-radius:10px;
					}
				a { text-decoration : none;}
		</style>
	</head>
				
				
	<body>
		<div id = "reg">
			<form name = "register">
				<p><input name="reg_uname" type= "textfield" placeholder = "User name">
				<p><input name="reg_fname" type= "textfield" placeholder = "First name">
				<p><input name="reg_lname" type= "textfield" placeholder = "Last name">
				<p><input name="reg_mail" type= "textfield" placeholder = "Your Email Address">
				<p><input name="reg_pwd" type = "password" placeholder= "Password"/>
				<p><input class = "reg-submit" name="reg_submit" type = "submit" value="SIGN UP!"/>
			</form>
		</div>	
		<p> Already a member ? <a href="login">LOGIN</a>
		<div id = "login">
			<form name = "login">
				<p><input name="reg_mail" type= "textfield" placeholder = "Your Email Address">
				<p><input name="reg_pwd" type = "password" placeholder= "Password"/>
				<p><input class = "login-submit" name="reg_submit" type = "submit" value="LOGIN"/>
			</form>
		</div>	
</html>
